.distance_zh_cn_1 {
	margin: 30px 0 0 0px;
	font-size: 25px;
}

.distance_zh_cn_2 {
	margin: -3px 0 0 75px;
	font-size: 25px;
}

.distance_zh_cn_3 {
	margin: -34px 0 0 213px;
	font-size: 25px;
}

.distance_en_us_1 {
	margin: 1px 0 0 75px;
	font-size: 12.5px;
}

.distance_en_us_2 {
	margin: 0px 0 0 75px;
	font-size: 12.5px;
}

.distance_en_us_3 {
	margin: -16.5px 0 0 110px;
	font-size: 12.5px;
}

/* 新建一条竖线，并设置颜色和样式 */
.line_1 {
	width: 5px;
	height: 57px;
	background-color: #D64249;
	margin: -60 0 0 63px;
}

/* 设置时间文本的样式 */
.time_h1 {
	margin: -107px 0 0 123px;
	color: #D64249;
	font-size: 70px;
}

.time_h3 {
	margin: 1.5px 0 0 91.5px;
	font-size: 12.5px;
}
